  <!-- Navigation Bar  -->
  <nav class="nav-container">
    <div class = "logo">
      <img src="/images/Orange Minimalist Food Festival Logo.png" alt="logo-image" width= "100%">
    </div>
    <ul>
      <li>
        HOME
        <span></span><span></span><span></span><span></span>
      </li>
      <li>
        MENU
        <span></span><span></span><span></span><span></span>
      </li>
      <li>
        ORDER ONLINE
        <span></span><span></span><span></span><span></span>
      </li>
      <li>
        CONTACT
        <span></span><span></span><span></span><span></span>
      </li>
    </ul>
  </nav>

  <!-- dummy container -->
  <nav class="nav-dummy">
    you can't see me
  </nav>
