   <!-- Navigation Bar  -->
   <nav class="nav-container">
    <div class = "logo">
      <!-- <img src="/images/Orange Minimalist Food Festival Logo.png" alt="logo-image" width= "100%"> -->
      <img src="/images/poutinephoto.png" alt="logo-image" width= "100%">

    </div>

    <ul>
      <li>
        <a href="/">HOME</a>
        <span></span><span></span><span></span><span></span>
      </li>
      <li>
        <a href="/#menuscroll">MENU</a>
        <span></span><span></span><span></span><span></span>
      </li>
      <li>
        CART
        <span></span><span></span><span></span><span></span>
      </li>
    </li>
     <li id="login-button" class="andy">
      Logged in: Andy
      <span></span><span></span><span></span><span></span>
    </li></ul>
    </ul>
  </nav>

  <!-- popup babyyyyy -->
  <nav class="nav-popup">
    <div id="poppin" class="hidden-popup">
      <div class="shopping-cart">
        <!-- Order Cart: Header-->
        <div class="shopping-cart-header">
          <i class="fas fa-utensils cart-icon"> ITEMS:</i><span class="total-quantity">0</span>
          <div class="shopping-cart-total">
            <span class="lighter-text">Total Price:$</span>
            <span class="total-price"></span>
          </div>
        </div>
    <ul>
    </ul>
    <!-- <form action="/api/orders" method="POST"> -->
      <button id="btnSubmit" class="button" runat="server" Text="Checkout">Checkout</button>
    <!-- </form> -->
  </div>
</nav>


<script>$(document).ready(() => {
  if(window.location.href.indexOf('orders/complete') !== -1) {
     $('.andy').hide()
  }
})</script>
