<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>


  <body>
  <!-- Navigation Bar  -->
    <nav class="nav-container">
      <div class = "logo">
        <img src="/images/Orange Minimalist Food Festival Logo.png" alt="logo-image" width= "100%">
      </div>
      <ul>
        <li>
          HOME
          <span></span><span></span><span></span><span></span>
        </li>
        <li>
          MENU
          <span></span><span></span><span></span><span></span>
        </li>
        <li>
          ORDER ONLINE
          <span></span><span></span><span></span><span></span>
        </li>
        <li>
          CONTACT
          <span></span><span></span><span></span><span></span>
        </li>
      </ul>
    </nav>

    <!-- dummy container -->
    <nav class="nav-dummy">
      you can't see me
    </nav>



      <!-- Main content container  -->
      <main class="content-container">

         <!-- Photo Div -->
        <section>
          <img src= '/images/Poutine-Header.png'  alt="Header Image" width= "100%" />
        </section>

          <!-- Menu Div -->
        <section class="menu">
            <!-- left box  -->
          <div id="leftmenu-box">
            <div class= "menu-box">

               <!-- child of menu box left -->
               <div class= "menu-item menu-left" >
                <div class= "menu-item" >
                  <p>Poutine 1</p>
                  <p>HellllloooooooHellHelllllooooooo
                    HellllloooooooHelllllo
                    ooooooHellllloooooooHelllllooooooo
                    HellllloooooooHelllll
                    oooooooHelllllooooooo
                    HellllloooooooHellll
                    loooooooHellllloooooooHelllllooooo
                    HelllllooooooovHellll
                    loooooooHellllloooooooHelllllooooooo </p>
                 </div>
                <div class= "menu-item" >
                  Price
                 </div>
               </div>

               <!-- child of menu box right -->
               <div class= "menu-item menu-right" >
                 <img class= "menu-itemimage" src="images/Pulled-Pork-Poutine.png" alt="">
                <div class= "menu-item" >
                  order button
                 </div>
               </div>


            </div >
            <div class= "menu-box">


            </div>
            <div class= "menu-box">
              3
            </div>
            <div class= "menu-box">
              4
            </div>
            <div class= "menu-box">
              5
            </div>
          </div>



          <!-- right box  -->
          <div id="rightmenu-box">
            <div class= "menu-box">

               <!-- child of menu box -->
               <div class= "menu-item" >
                Poutine 1
                <div class= "menu-item" >
                  description
                 </div>
                <div class= "menu-item" >
                  Price
                 </div>
               </div>

               <div class= "menu-item" >
                Image
                <div class= "menu-item" >
                  order button
                 </div>
               </div>
            </div >
            <div class= "menu-box">

            </div>
            <div class= "menu-box">
              3
            </div>
            <div class= "menu-box">
              4
            </div>
            <div class= "menu-box">
              5
            </div>
          </div>

        </section>



      </main>



  </body>
</html>
