<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>


  <body>

    <%- include('partials/_navbar') %>



    <%for(let item of orders){%>
    <section class="order">
      <!-- PAGE TEMPLATE  -->
      <section>
        <div class= "order-status " >
           <p> <%=item.order_status%> </p>
        </div>
      </section>

      <section>
        <div class= "order-status " >
           <p> <%=item.order_begin%>  </p>
        </div>
      </section>

      <section>
        <div class= "order-status " >
           <p> Your order will be complete in
                30 minutes or less. If we lie we buy! </p>
        </div>
      </section>


      <section>
        <div class= "order-price " >
           <p> $ <%=item.total_price/100%>
           </p>
        </div>
        <%}%>
      </section>


  </body>
</html>
