<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>


  <body>

    <%- include('partials/_navbar') %>




    <%for(let item of orders){%>

      <section id="order">
        <div class="col-md-3 ">
          <div class="text-box">
            <p class="header-size">Thank you for your order</p>
            </div>
        </div>

        <!-- Order Container  -->
        <div class="container">

          <section class="order-summary">
              <div class="text-box">
                <p class="number">Order Status</p>
                <h4><%=item.order_status%></h4> </div>
              <div class="text-box">
                <p class="number">Time</p>
                <h4><%=item.order_begin%> </h4> </div>
              <div class="text-box">
                <p class="number">SubTotal</p>
                <h4>$ <%=item.total_price/100%> </h4> </div>

            </section>

        </div>
      </section>


      <%}%>

      <!-- test -->



  </body>
</html>
