// Menu styling
.menu{
  display: flex;
  flex-direction: row;
  background: rgb(170, 167, 167);
  // height: 140vh;
  font: white;
  background-color: red;
}
.menu-box{
display: flex;
flex-direction: column;
border: solid black;
padding: 1em;
justify-content: space-between;
height: 200px;
}
.menu-item{
 display: flex;
 flex-direction: row;
  border: solid green;
}
.menu-right {
  width: 30%;
  flex-direction: column;
  background-color: firebrick;
  justify-content: space-between;
  overflow-y: scroll;
}
.menu-itemimage{
  width: 120x;
  height: 100px;
}

