// Menu styling


.menu{
  display: flex;
  flex-direction: row;
  background: rgb(170, 167, 167);
  height: 120vh;
  font: white;
  background-color: red;

 }

#leftmenu-box{
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  border: solid blue;

}

#rightmenu-box {
display: flex;
 flex-direction: column;
 flex-grow: 0;
 flex-shrink: 0;
border: solid black;
}


.menu-box{
display: flex;
flex-direction: row ;
border: solid black;
flex-grow: 0;
padding: 1em;
justify-content: space-between;

}

.menu-item{
 border: solid green;
}

.menu-left, .menu-right {
  background-color: firebrick;

}
