//Nav CSS
.nav-container {
  background-color: #000000;

  height: 100vh;
  position: fixed;
  width: var(--navbar-width);
}
.shopping-cart-header.js {
  height: auto;
}
.hidden-popup {
  display:none;
}
.nav-popup {
  overflow-y: auto;
  position: fixed;
  height: 450px;
  width: var(--navbar-width);
  // display: block;// IDIL STYLE MEEEEEE
  z-index: 1000;
  bottom: 0;
  div{
    background-color:black;
    color:white;
    font-family: 'Spartan', sans-serif;

    // display: block;
    // overflow-y: auto;
    width: 100%;
    // height: 95%;
  }
  ul{
    color: indianred;
    height: 100%;
  }
}
.nav-popup li{
  color: white;

}

.logo {
  height: 12em;
  width: 100%;
}

nav a {
  text-decoration: none;
  color: white
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding: 2em;
}

nav ul li {
  --c: #f1eae0;
  color: var(--c);
  font-size: 16px;
  // width: 12em;
  height: 3em;
  text-transform: uppercase;
  font-weight: bold;
  font-family: sans-serif;
  letter-spacing: 0.1em;
  text-align: center;
  line-height: 3em;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
  margin: 1em;
}

nav ul li span {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: var(--c);
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}

nav ul li:hover {
  color: black;
}

nav ul li:hover span {
  transform: translateY(0) scale(2);
}

nav ul li span:nth-child(1) {
  --n: 1;
}

nav ul li span:nth-child(2) {
  --n: 2;
}

nav ul li span:nth-child(3) {
  --n: 3;
}

nav ul li span:nth-child(4) {
  --n: 4;
}


#login-button{
// color: rgb(164,0,0);
color: rgb(255, 0, 0);
font-family: spartan;


}

// checkout button
#btnSubmit{
  justify-content: space-around;
  margin-left: 6.5rem;
  cursor: pointer;
  color:rgb(229, 165, 61);
  background-color: black;
  border-radius: 15px;
  font-family: 'Caveat', cursive;



   // background-color: #black;
  // border: 3px solid #000000;
  // box-shadow: 10px 10px grey;
  // box-shadow: 0 0 3px #fff, 0 0 10px #fff, 0 0 15px #cf9b00, 0 0 20px #cf9b00,
  //   0 0 25px #cf9b00, 0 0 30px #cf9b00, 0 0 35px #cf9b00;

}
#btnSubmit:active{
  // border: black 3px solid;
  background-color: rgb(229, 165, 61);


}
#btnSubmit:hover {
  color: white;
}

#btnSubmit:hover {
  transform: translateY(0) scale(1.2);
}

#cart-items{
font-family: 'Spartan', sans-serif;
}

.shopping-cart-header{
margin-top: 18px
}


.lighter-text{
  margin-left: 5.5rem;
}

.fas {
  color:  rgb(229, 165, 61);
  margin-right: 5px;
  margin-left: 5.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;

}
