// Order Page styling
#order {
  display: flex;
  background-color: #1e1c1c;
  min-height: 100vh;
  color: #fff;
  // display: block;
  overflow: hidden;
  text-align: center;
  margin-left: 15rem;
  padding: 3rem;
  background-size: 60%;


}


.order-summary{
    border: 2px solid yellow;
    border-radius: 25px;
    background-color:transparent;
    margin: 0 auto;
  }


.box h4 {
// color: rgb(180, 141, 12);
font-size: 16px;
margin-top: 0;
}
#order .box .fa {
  font-size: 40px;
  display: block;
  color: #fff;
}
#order .number {
  font-size: 20px;
  color: black;
  font-weight: 700;
  margin: 0;
}

.header-size{
  font-size: 30px;
  font-weight: 700;
  margin: 0;
}


.col-md-3{
  border: 2px solid purple
}
