@import 'nav';
@import 'menu';
@import'orders';

  :root  {
  --navbar-width: 18rem;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  }

body {
  // display: flex;
  min-height: 100vh;
  flex-direction: row;
  margin: 0;
  background-color: black;
}

html{
  height: 100vh;
}

.content-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  // border: solid purple;
  // background-color: #1e1c1c ;
}






