// See: https://sass-lang.com/

// body {
//   background-color: #4a4747;

//   h1 {
//     color: #244751;
//   }
// }

* {
  box-sizing: border-box;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  margin: 0;
}
.col-1 {
  background: #021302;
  flex: 1;
  border: solid rgb(217, 255, 0);

}
.col-2 {
  display: flex;
  flex-direction: column;
  flex: 5;
  border: solid red;
}
.content {
  display: flex;
  flex-direction: row;
  border: solid purple;
}
.content > article {
  flex: 3;
  min-height: 60vh;

}

header, footer {
  background: rgb(170, 167, 167);
  height: 20vh;
  font: white;
}
header, footer, article, nav, aside {
  padding: 1em;
}

//  MOVE THIS TO A NEW PAGE -- NAV BAR STYLING

.nav-container{
  background-color: #1e1c1c;

}

.logo{
  height: 12em;
  width: 15em;

 }

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  --c: #f1eae0;
  color: var(--c);
  font-size: 16px;
  // border: 0.3em solid var(--c);
  // border-radius: 0.5em;
  width: 12em;
  height: 3em;
  text-transform: uppercase;
  font-weight: bold;
  font-family: sans-serif;
  letter-spacing: 0.1em;
  text-align: center;
  line-height: 3em;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
  margin: 1em;
}

nav ul li span {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: var(--c);
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}

nav ul li:hover {
  color: black;
}

nav ul li:hover span {
  transform: translateY(0) scale(2);
}

nav ul li span:nth-child(1) {
  --n: 1;
}

nav ul li span:nth-child(2) {
  --n: 2;
}

nav ul li span:nth-child(3) {
  --n: 3;
}

nav ul li span:nth-child(4) {
  --n: 4;
}
